@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: Azeret Mono;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
/* Navber Area start */
.navber-area{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}
.navber-area a{
    font-size: 28px;
    display: block;
    padding-top: 10px;
}
.navber-area button{
    padding: 16px 36px;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
}
.navber-area button:hover{
    background-color: rgb(13, 19, 33);
    color:rgb(255, 255, 255);
}
.hero-area{
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 720px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.hero-content h1{
    font-size: 38px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin: 20px auto;
    line-height: 65px;
}
.hero-content p{
    text-align: center;
    opacity: 0.7;
    width: 65%;
    margin: 0 auto 30px;
    font-weight: 600;
}
.hero-content a{
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
/* Header Area End */
.container{
    max-width: 85%;
    margin: 100px auto;
}
.web-development-area{
    background: rgba(13, 19, 33, 0.02);
    padding-bottom: 60px;
}
.web-dev-title{
    text-align: center;
    padding: 80px 0;
}
.web-dev-title h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.web-dev-title p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    margin: 20px auto 20px;
    opacity: 0.7;
}
.web-dev-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 80%;
    margin: 50px auto;
    padding: 60px 40px 80px;
    border-radius: 10px;
}
.web-dev-box h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    width: 80%;
}
.web-dev-box p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 20px 0;
    width: 80%;
}
.web-dev-box button{
    padding: 16px 36px;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
}
.web-dev-box button:hover{
    background-color: rgb(13, 19, 33);
    color: #fff;
}
/* web section area end */

.inspire-video iframe{
    width: 100%; 
    height: 600px;
    margin: 0 auto;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
/* inspire area end */

.target-area{
    margin-top: 40px;
}
.card-box{
    display: flex;
    gap: 20px;
}
.card{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.css-bg{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.js-bg{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.card img{
    padding: 20px 0;
}
.card p{
    padding: 20px 0;
}
.card a{
    border-bottom: 2px solid #000;
}
/* target area end */
.support-area{
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../assets/handshake.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 15px;
    margin: 70px 0;
}
.support-title{
    padding: 80px 0 60px;
}
.support-title h2 {
    color: rgb(255, 255, 255)
}
.support-title p{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-weight: 400;
    font-size: 14px;
}
.support-input{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 0 80px;
}
.support-input input[type="text"]{
    padding: 20px 30px;
    width: 50%;
    border-radius: 10px;
    border: none;
    color: rgba(13, 19, 33, 0.3);
    font-size: 18px;
}
.support-input input[type="submit"]{
    padding: 18px 45px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);;
    color:rgb(13, 19, 33);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* Support area end */
.footer-area{
    background: rgba(13, 19, 33, 0.03);
    padding: 40px 0 30px;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}
.footer-section h4{
    margin-top: 10px;
}
.footer-icon{
    display: flex;
    gap: 20px;
}
.footer-icon a{
    display: block;
}